### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [1]:
# Import modules:
import pandas as pd
import csv
import os
import openpyxl

# Set parameters for input and output files:
path = os.path.join("Resources", "purchase_data.csv")
purchase_df = pd.read_csv(path)

In [6]:
# User value_count() method on purchase df to check how many players per gender:
players_by_gender = purchase_df["Gender"].value_counts()
players_groupby_gender_df = purchase_df.groupby("Gender", as_index=False)
players_groupby_gender_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [7]:
table_gender = pd.DataFrame({'Percentage of Players': players_perc})

In [8]:
# Use value_counts() method to display the player count by gender and calculate the percentage per gender:
players_perc = (purchase_df["Gender"].value_counts()/purchase_df["Gender"].count())
table_gender["Percentage of Players"] = players_perc

# Format the values:
table_gender["Percentage of Players"] = pd.Series(["{0:.2f}%".format(val * 100) for val in table_gender['Percentage of Players']], index = table_gender.index)
table_gender

                      Percentage of Players
Male                                 83.59%
Female                               14.49%
Other / Non-Disclosed                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purchase_data_grouped_by_gender = purchase_data.groupby("Gender").count()
purchase_data_grouped_by_gender

In [ ]:
# Redefine total players count again here:
players_total = purchase_data["SN"].count()
players_total

In [ ]:
grouped_price_mean = purchase_data.groupby("Gender")["Price"].mean()
grouped_price_mean

In [ ]:
test1_df = pd.DataFrame({"Average Purchase Price": grouped_price_mean})
test1_df

In [ ]:
grouped_purchase_count = purchase_data.groupby("Gender")["Purchase ID"].count()
grouped_purchase_count

In [ ]:
test1_df = pd.DataFrame({"Purchase Count": grouped_purchase_count,
                         "Average Purchase Price": grouped_price_mean,
                         })
test1_df

In [ ]:
grouped_purchase_value_total = purchase_data.groupby("Gender")["Price"].sum()
grouped_purchase_value_total

In [ ]:
test1_df = pd.DataFrame({"Purchase Count": grouped_purchase_count,
                         "Average Purchase Price": grouped_price_mean,
                         "Total Purchase Value": grouped_purchase_value_total
                         })
test1_df

In [ ]:
grouped_purchase_average_per_person = grouped_purchase_value_total / grouped_purchase_count
grouped_purchase_average_per_person

In [ ]:
test1_df = pd.DataFrame({"Purchase Count": grouped_purchase_count,
                         "Average Purchase Price": grouped_price_mean,
                         "Total Purchase Value": grouped_purchase_value_total,
                         "Avg Total Purchase per Person": grouped_purchase_average_per_person
                         })
test1_df

In [ ]:
test1_df["Average Purchase Price"] = test1_df["Average Purchase Price"].map("${:,.2f}".format)
test1_df["Total Purchase Value"] = test1_df["Total Purchase Value"].map("${:,.2f}".format)
test1_df["Avg Total Purchase per Person"] = test1_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

#test1_df['Total Purchase Value'] = test1_df["Total Purchase Value"].map("${:,.2f}".format)
#test1_df['Avg Total Purchase per Person'] = test1_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
#Purch_Anal_Gen["Total Purchase Value"] = Purch_Anal_Gen["Total Purchase Value"].map("${:.2f}".format)
#test1_df['Total Purchase Value'] = pd.Series(["${:,.2f}".format(grouped_purchase_value_total)])
#test1_df['Avg Total Purchase per Person'] = pd.Series(["${:,.2f}".format(grouped_purchase_average_per_person)])
test1_df

In [ ]:
# Example of the table below

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Create a new dataframe object with only Age and SN columns...
demographics_df = purchase_data[["Age", "SN", "Price"]]
demographics_df

In [ ]:
# Might need to use .loc method to slice the columns, as later issues reported when trying to create df with bins.
demographics_df = purchase_data.loc[:, ["Age", "SN", "Price"]]
demographics_df = demographics_df.drop_duplicates()
demographics_df

In [ ]:
# Check the counts in each of the columns to see if they are the same:
demos_count = demographics_df.count()
demos_count

In [ ]:
#

In [ ]:
# Note: the two columns are aligned (above, both counts 780).

In [ ]:
# Use pd.cut() method to split age data into bins:
bins_age = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bins_age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
pd.cut(demographics_df['Age'], bins=bins_age, labels=bins_age_labels).head()

In [ ]:
# Create a dataframe based on the cut demographics:
demographics_df['Age Category'] = pd.cut(demographics_df["Age"], bins=bins_age, labels=bins_age_labels)
demographics_df.head()

In [ ]:
# Create a sorted df based on the demographics by age bins df

# indexed_age_df = pd.DataFrame(purchase_data
# grouped_age_bins = demographics_df.groupby('Age')
# grouped_age_bins.head(50)
                              
# total_players = len(purchase_data['SN'].value_counts())
# table_players_total = pd.DataFrame({"Total Players": [total_players] })
# table_players_total
                              
                              
# purchase_data.groupby('Gender')['Price'].sum()

test2_df = pd.DataFrame({'Age': demographics_df['Age'],
                           'Name': demographics_df['SN'],
                           'Age Category': demographics_df['Age Category'],
                           'Price': demographics_df['Price']})
test2_df_indexed = test2_df.set_index('Age Category')
test2_df_indexed

In [ ]:
test2_df = pd.DataFrame({'Age': demographics_df['Age'],
                         'Name': demographics_df['SN'],
                         'Age Category': demographics_df['Age Category'],
                         'Price': demographics_df['Price']})
test2_df_indexed = test2_df.set_index('Age Category')
test2_df_indexed

In [ ]:
# Group data frame by 'Age Category'
age_bins_count_df = demographics_df.groupby("Age Category")
age_bins_count_df.head()

In [ ]:
# Looks like need to group first to create iterable object:

In [ ]:
# Check how many players in each category, using count() function:
bin_counts = age_bins_count_df['Age'].unique()
bin_counts

In [ ]:
# Remember total players
players_bin_percentage = []

players_unique = purchase_data["SN"].unique()
players_unique
##players_unique = len(purchase_data["SN"].unique())
#players_unique

In [ ]:
# Create a loop to calculate percentage per every age group/bin
# and put the new array of percentage for each group in the list
players_total = len(purchase_data['SN'].count())
print(players_total)
players_bin_percentage = []
for i in range (len(bin_counts)):
    players_bin_percentage.append(bin_counts[i]*100/players_total)
players_bin_percentage

In [ ]:
# Create new summary table to display the Age Demographics:
test3_df = pd.DataFrame({'Total players': bin_counts,
                         'Percentage of Players': players_bin_percentage
                        })
test3_df


#pd.DataFrame({'Age': demographics_df['Age'],
#                         'Name': demographics_df['SN'],
#                         'Age Category': demographics_df['Age Category'],
#                         'Average Price': players_bin_percentage})
#test3_df_indexed = test3_df.set_index('Age Category')
#test3_df_indexed

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
writer.close()