### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Import modules:
import pandas as pd
import csv
import os
import openpyxl

# Set parameters for input and output files:
path = os.path.join("Resources", "purchase_data.csv")
#output_path = os.path.join("Output", "purchase_df.xlsx")
purchase_df = pd.read_csv(path)

## Player Count

* Display the total number of players

In [30]:
# Find total players using value_counts() method, that returns the unique items. Use 'SN' column.
total_players = len(purchase_df['SN'].value_counts())
purchase_total_count_df = pd.DataFrame({"Total Players": [total_players] })
purchase_total_count_df

# Save to excel file:
output_file = purchase_total_count_df.to_excel("1_Purchase_Players_Total.xlsx")
purchase_total_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# Activate excel writer and add new sheet for purchase total:
pd.ExcelWriter
writer = pd.ExcelWriter("1_Purchase_Players_Total.xlsx")
#purchase_total_count_df.to_excel(writer, index=False, sheet_name = 'Players')
#writer.save()

In [21]:
# Find number of unique items using Item ID column:
items_unique = len(purchase_df["Item ID"].value_counts())
# Create new dataframe to summarize the results:
purchase_summary = pd.DataFrame({"Number of Unique Items":[items_unique]})
purchase_summary

   Number of Unique Items
0                     179

In [22]:
# Use sum() method to calculate the total revenue from the purchase data:
revenue_total = purchase_df["Price"].sum()
revenue_total

2379.77

In [23]:
# Use mean() method to output the average price in purchase data -> 'Price' columns:
price_average = purchase_df["Price"].mean()
price_average

3.0509871794871795

In [24]:
# Add new column to the Purchase Summary table to display the average price:
purchase_summary["Average Price"] = price_average
purchase_summary

   Number of Unique Items  Average Price
0                     179       3.050987

In [25]:
# Use Purchase ID column to extract unique value counts to display the total of purchase entries:
purchases_total = purchase_df["Purchase ID"].value_counts()
purchase_summary["Number of Purchases"] = len(purchases_total)
purchase_summary

   Number of Unique Items  Average Price  Number of Purchases
0                     179       3.050987                  780

In [26]:
# Use sum() method to obtain the total revenue from 'Price' data:
revenue_total = purchase_df["Price"].sum()
purchase_summary["Total Revenue"] = revenue_total
purchase_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [27]:
# Format the summary table:
purchase_summary["Average Price"] = pd.Series(["${:,.2f}".format(price_average)])
purchase_summary["Total Revenue"] = pd.Series(["${:,.2f}".format(revenue_total)])
purchase_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [31]:
# Write purchase summary to the same excel file in a new sheet:
purchase_summary.to_excel(writer, index=False, sheet_name = 'Purchase Analysis - summary')
writer.save()