### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Import modules:
import pandas as pd
import csv
import os
import openpyxl

# Set parameters for input and output files:
path = os.path.join("Resources", "purchase_data.csv")
purchase_df = pd.read_csv(path)

## Player Count

* Display the total number of players

In [48]:
total_players = len(purchase_df['SN'].value_counts())
table_players_total = pd.DataFrame({"Total Players": [total_players] })
table_players_total

   Total Players
0            576

## Gender Demographics

In [49]:
# User value_count() method on purchase df to check how many players per gender:
players_by_gender = purchase_df["Gender"].value_counts()
players_groupby_gender_df = purchase_df.groupby("Gender", as_index=False)
players_groupby_gender_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [50]:
table_gender = pd.DataFrame({'Percentage of Players': players_perc})

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
purchase_data = pd.read_csv(path)

In [36]:
items_unique = len(purchase_data['Item ID'].value_counts())
items_unique
table = pd.DataFrame({"Number of Unique Items":[items_unique]})
#table['Number of Unique Items'] = pd.DataFrame(['items_unique'])
table
#table['Average Price', 'Total Revenue'] = pd.Series(["{:,.2f}%".format])

   Number of Unique Items
0                     179

In [37]:
revenue_total = purchase_data['Price'].sum()
revenue_total

2379.77

In [38]:
price_average = purchase_data['Price'].mean()
price_average

3.0509871794871795

In [46]:
table['Average Price'] = price_average
table

,Number of Unique Items,Average Price,Number of Purchases,Total Revenue,Average Purchase Price
0,179,3.050987,780,"$2,379.77",3.050987

In [40]:
# Note: the purchase IDs are not always increasing by 1. 
# Note: when view csv file in excel, there are only about 500rows, - not sure why value_counts() outputs 780.
# 779 (counting from 0) is the maximum purchase ID in the given file.
purchases_total = purchase_data['Purchase ID'].value_counts()
table['Number of Purchases'] = len(purchases_total)
table

   Number of Unique Items  Average Price  Number of Purchases
0                     179       3.050987                  780

In [41]:
revenue_total = purchase_data['Price'].sum()
table['Total Revenue'] = revenue_total
table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [43]:
# Add formatting:
table['Average Price'] = pd.Series(["${:,.2f}".format(price_average)])
table['Total Revenue'] = pd.Series(["${:,.2f}".format(revenue_total)])
table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [44]:
# Write purchase summary to the same excel file in a new sheet:
writer = pd.ExcelWriter("2_Purchase_Players_Total.xlsx")
table.to_excel(writer, index=False, sheet_name = 'Purchase Analysis - summary')
writer.save()

In [51]:
# Use value_counts() method to display the player count by gender and calculate the percentage per gender:
players_perc = (purchase_df["Gender"].value_counts()/purchase_df["Gender"].count())
table_gender["Percentage of Players"] = players_perc

# Format the values:
table_gender["Percentage of Players"] = pd.Series(["{0:.2f}%".format(val * 100) for val in table_gender['Percentage of Players']], index = table_gender.index)
table_gender

                      Percentage of Players
Male                                 83.59%
Female                               14.49%
Other / Non-Disclosed                 1.92%

In [34]:
# Save to excel file:
output_file = table_gender.to_excel("3_Gender_Percentage.xlsx")
pd.ExcelWriter
writer = pd.ExcelWriter("3_Gender_Percentage.xlsx")
# Write purchase summary to the same excel file in a new sheet:
table_gender.to_excel(writer, sheet_name = 'Gender Percentage')
writer.save()