### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Import modules:
import pandas as pd
import csv
import os
import openpyxl

# Set parameters for input and output files:
path = os.path.join("Resources", "purchase_data.csv")
purchase_data = pd.read_csv(path)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [2]:
purchase_data_grouped_by_gender = purchase_data.groupby("Gender").count()
purchase_data_grouped_by_gender

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [3]:
# Redefine total players count again here:
players_total = purchase_data["SN"].count()
players_total

780

In [4]:
grouped_price_mean = purchase_data.groupby("Gender")["Price"].mean()
grouped_price_mean

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [5]:
purchasing_analysis_by_gender = pd.DataFrame({"Average Purchase Price": grouped_price_mean})
purchasing_analysis_by_gender

                       Average Purchase Price
Gender
Female                               3.203009
Male                                 3.017853
Other / Non-Disclosed                3.346000

In [6]:
grouped_purchase_count = purchase_data.groupby("Gender")["Purchase ID"].count()
grouped_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [7]:
purchasing_analysis_by_gender = pd.DataFrame({"Purchase Count": grouped_purchase_count,
                         "Average Purchase Price": grouped_price_mean,
                         })
purchasing_analysis_by_gender

                       Purchase Count  Average Purchase Price
Gender
Female                            113                3.203009
Male                              652                3.017853
Other / Non-Disclosed              15                3.346000

In [8]:
grouped_purchase_value_total = purchase_data.groupby("Gender")["Price"].sum()
grouped_purchase_value_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [9]:
purchasing_analysis_by_gender = pd.DataFrame({"Purchase Count": grouped_purchase_count,
                         "Average Purchase Price": grouped_price_mean,
                         "Total Purchase Value": grouped_purchase_value_total
                         })
purchasing_analysis_by_gender

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [10]:
grouped_purchase_average_per_person = grouped_purchase_value_total / grouped_purchase_count
grouped_purchase_average_per_person

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [11]:
purchasing_analysis_by_gender = pd.DataFrame({"Purchase Count": grouped_purchase_count,
                         "Average Purchase Price": grouped_price_mean,
                         "Total Purchase Value": grouped_purchase_value_total,
                         "Avg Total Purchase per Person": grouped_purchase_average_per_person
                         })
purchasing_analysis_by_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [12]:
# Format the values for display:
purchasing_analysis_by_gender["Average Purchase Price"] = purchasing_analysis_by_gender["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_by_gender["Total Purchase Value"] = purchasing_analysis_by_gender["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_by_gender["Avg Total Purchase per Person"] = purchasing_analysis_by_gender["Avg Total Purchase per Person"].map("${:,.2f}".format)
purchasing_analysis_by_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

In [13]:
# Save to excel file:
output_file = purchasing_analysis_by_gender.to_excel("3_Purchasing_Analysis_by_Gender.xlsx")
pd.ExcelWriter
writer = pd.ExcelWriter("3_Purchasing_Analysis_by_Gender.xlsx")
# Write purchase summary to the same excel file in a new sheet:
purchasing_analysis_by_gender.to_excel(writer, sheet_name = 'Purchasing_Analysis_by_Gender')
writer.save()