### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [16]:
total_players = len(purchase_data['SN'].value_counts())
table_players_total = pd.DataFrame({"Total Players": [total_players] })
table_players_total

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
items_unique = len(purchase_data['Item ID'].value_counts())
items_unique
table = pd.DataFrame({"Number of Unique Items":[items_unique]})
#table['Number of Unique Items'] = pd.DataFrame(['items_unique'])
table
#table['Average Price', 'Total Revenue'] = pd.Series(["{:,.2f}%".format])

   Number of Unique Items
0                     179

In [18]:
revenue_total = purchase_data['Price'].sum()
revenue_total

2379.77

In [19]:
price_average = purchase_data['Price'].mean()
price_average

3.0509871794871795

In [20]:
table['Average Price'] = price_average
table

   Number of Unique Items  Average Price
0                     179       3.050987

In [21]:
# Note: the purchase IDs are not always increasing by 1. 
# Note: when view csv file in excel, there are only about 500rows, - not sure why value_counts() outputs 780.
# 779 (counting from 0) is the maximum purchase ID in the given file.
purchases_total = purchase_data['Purchase ID'].value_counts()
table['Number of Purchases'] = len(purchases_total)
table

   Number of Unique Items  Average Price  Number of Purchases
0                     179       3.050987                  780

In [22]:
revenue_total = purchase_data['Price'].sum()
table['Total Revenue'] = revenue_total
table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [23]:
# Add formatting:
#table['Average Price'] = pd.Series(["${:.2f}".format])
#table['Average Price'] = pd.Series(["${:,.2f}".format])
#df['var3'] = pd.Series(["{0:.2f}%".format(val * 100) for val in df['var3']], index = df.index)
#format_mapping={'Average Price': '${:,.2f}'}
#df['var2'] = pd.Series([round(val, 2) for val in df['var2']], index = df.index)
table['Average Price'] = pd.Series(["${:,.2f}".format(price_average)])
table['Total Revenue'] = pd.Series(["${:,.2f}".format(revenue_total)])
table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [31]:
# Write purchase summary to the same excel file in a new sheet:
writer = pd.ExcelWriter("2_Purchase_Players_Total.xlsx")
table.to_excel(writer, index=False, sheet_name = 'Purchase Analysis - summary')
writer.save()